* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1440px) {
  .main-container {
    width: 90rem;
    height: 64rem;
    position: relative;
    background-color: #c5e4e7;
  }
  .spliter {
    position: absolute;
    top: 10rem;
    left: 33rem;
    width: 5.4rem;
    height: 3.3rem;
    color: #3d6666;
  }
  .items-container {
    position: absolute;
    top: 18rem;
    left: 7rem;
    width: 57.5rem;
    height: 30rem;
    background-color: #fff;
    box-shadow: 0 2rem 2.6rem rgba(79, 166, 175, 0.200735);
    border-radius: 1.5rem;
  }
  .input-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    position: absolute;
    width: 23.6rem;
    height: 24rem;
    top: 3rem;
    left: 2rem;
  }
  .bill-input {
    width: 23.52rem;
  }
  .bill {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #5e7a7d;
  }
  .input-dolar {
    background-color: hsl(189, 41%, 97%);
    width: 23.55rem;
    height: 2.4rem;
    margin-top: 0.4rem;
    padding-left: 22rem;
    border: none;
    border-radius: 0.2rem;
  }
  .dolar-img {
    position: absolute;
    top: 2.7rem;
    left: 0.4rem;
  }
  .select-buttons {
    margin-top: 1.8rem;
    width: 23.6rem;
    height: 9.5rem;
  }
  .selecttip-text {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #5e7a7d;
  }
  .five {
    position: absolute;
    top: 8rem;
    left: 0rem;
    color: white;
    background-color: #00474b;
    width: 7.3rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
  }
  .five:hover {
    background-color: #26c2ae;
  }
  .ten:hover {
    background-color: #26c2ae;
  }
  .fifteen:hover {
    background-color: #26c2ae;
  }
  .twentyfive:hover {
    background-color: #26c2ae;
  }
  .fifty:hover {
    background-color: #26c2ae;
  }
  .custom:hover {
    background-color: #26c2ae;
  }
  .ten {
    position: absolute;
    top: 8rem;
    left: 8rem;
    color: white;
    background-color: #00474b;
    width: 7.3rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
  }
  .fifteen {
    position: absolute;
    top: 8rem;
    left: 16rem;
    color: white;
    background-color: #00474b;
    width: 7.3rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
  }
  .twentyfive {
    position: absolute;
    top: 12rem;
    left: 0rem;
    color: white;
    background-color: #00474b;
    width: 7.3rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
  }
  .fifty {
    position: absolute;
    top: 12rem;
    left: 8rem;
    color: white;
    background-color: #00474b;
    width: 7.3rem;
    height: 3rem;
    border :none;
    border-radius: 0.3rem;
  }
  .custom {
    position: absolute;
    top: 10.5rem;
    left: 11rem;
    color: #547878;
    background-color: #f3f9fa;
    width: 9rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
  }
  .numb-people {
    width: 23.6rem;
    height: 6.5rem;
    margin-top: 2rem;
  }
  .input-people {
    background-color: #f3f9fa;
    border-radius: 0.3rem;
    border: none;
    width: 23.56rem;
    height: 3rem;
    padding-left: 21.8rem;
    margin-top: 0.5rem;
  }
  .person-img {
    position: absolute;
    top: 20.5rem;
    left: 0.5rem;
  }
  .numpeople-text {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #5e7a7d;
  }

  .output-item {
    background-color: #00474b;
    position: absolute;
    top: 3rem;
    left: 30rem;
    width: 25.8rem;
    height: 25rem;
    border-radius: 1rem;
  }
  .amount-fild {
    width: 20.8rem;
    height: 4.4rem;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
  .tip-amount {
    position: absolute;
    top: 3.2rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffff;
  }
  .first-person {
    position: absolute;
    top: 4.6rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1.1rem;
    color: #7f9d9f;
  }
  .first-amount {
    position: absolute;
    top: 2.5rem;
    left: 16.3rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.4rem;
    color: #26c2ae;
  }
  .total-field {
    width: 20.8rem;
    height: 4.4rem;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
  .total-field {
    width: 20.8rem;
    height: 4.4rem;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
  .total-text {
    position: absolute;
    top: 10rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffff;
  }
  .second-person {
    position: absolute;
    top: 11.5rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1.1rem;
    color: #7f9d9f;
  }
  .second-amount {
    position: absolute;
    top: 9.5rem;
    left: 16.4rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.4rem;
    color: #26c2ae;
  }
  .reset-button {
    position: absolute;
    width: 20.3rem;
    height: 3rem;
    top: 20rem;
    left: 2.9rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #0d686d;
    color: #00474b;
  }
  .reset-button:hover {
    background-color: #26c2ae;
  }
}
@media screen and (max-width: 375px) {
  .main-container {
    width: 23.43rem;
    /* height: 20rem; */
    position: relative;
    background-color: #c5e4e7;
  }
  .spliter {
    position: absolute;
    top: 10rem;
    left: 12rem;
    width: 5.4rem;
    height: 3.3rem;
    color: #3d6666;
  }
  .items-container {
    position: absolute;
    top: 18rem;
    left: 0rem;
    width: 23.44rem;
    height: 52rem;
    background-color: cadetblue;
    /* background-color: #fff; */
    box-shadow: 0 2rem 2.6rem rgba(79, 166, 175, 0.200735);
    border-radius: 1.5rem;
  }
  .input-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    position: absolute;
    width: 23.6rem;
    height: 24rem;
    top: 3rem;
    left: 2rem;
  }
  .bill-input {
    width: 19.8rem;
    height: 4.8rem;
  }
  .bill {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #5e7a7d;
  }
  .input-dolar {
    position: absolute;
    background-color: #f3f9fa;
    border-radius: 0.3rem;
    border: none;
    width: 20rem;
    padding-left: 18rem;
  }
  .dolar-img {
    position: absolute;
    top: 3.6rem;
    left: 0.6rem;
  }
  .select-buttons {
    position: absolute;
    top: 5rem;
    width: 20rem;
    height: 13.5rem;
  }
  .selecttip-text {
    display: none;
    position: absolute;
    top: 1rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #5e7a7d;
  }
  .five {
    position: absolute;
    top: 2.5rem;
    left: 0rem;
    color: white;
    background-color: #00474b;
    width: 9rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
  }
  .ten {
    position: absolute;
    top: 2.5rem;
    left: 10.9rem;
    color: white;
    background-color: #00474b;
    width: 9rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
  }
  .fifteen {
    position: absolute;
    top: 6.5rem;
    left: 0rem;
    color: white;
    background-color: #00474b;
    width: 9rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
  }
  .twentyfive {
    position: absolute;
    top: 6.5rem;
    left: 10.9rem;
    color: white;
    background-color: #00474b;
    width: 9rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
  }
  .fifty {
    position: absolute;
    top: 10.5rem;
    left: 0rem;
    color: white;
    background-color: #00474b;
    width: 9rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
  }
  .custom {
    position: absolute;
    top: 10.5rem;
    left: 11rem;
    color: #547878;
    background-color: #f3f9fa;
    width: 9rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
  }
  .five:hover {
    background-color: #26c2ae;
  }
  .ten:hover {
    background-color: #26c2ae;
  }
  .fifteen:hover {
    background-color: #26c2ae;
  }
  .twentyfive:hover {
    background-color: #26c2ae;
  }
  .fifty:hover {
    background-color: #26c2ae;
  }
  .custom:hover {
    background-color: #26c2ae;
  }
  .numb-people {
    position: absolute;
    top: 20.5rem;
    width: 20rem;
    height: 4.8rem;
    margin-top: 2rem;
  }
  .input-people {
    position: absolute;
    background-color: #f3f9fa;
    border-radius: 0.3rem;
    border: none;
    width: 20rem;
    padding-left: 18rem;
  }
  .person-img {
    position: absolute;
    top: 5rem;
    left: 2rem;
  }
  .numpeople-text {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #5e7a7d;
  }

  .output-item {
    position: absolute;
    background-color: #00474b;
    position: absolute;
    top: 34rem;
    left: 1.7rem;
    width: 20.4rem;
    height: 16rem;
    border-radius: 0.93rem;
  }
  .amount-fild {
    width: 17.5rem;
    height: 3rem;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
  .tip-amount {
    position: absolute;
    top: 2rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffff;
  }
  .first-person {
    position: absolute;
    top: 3.5rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1.1rem;
    color: #7f9d9f;
  }
  .first-amount {
    position: absolute;
    top: 1.5rem;
    left: 14rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    color: #26c2ae;
  }
  .total-field {
    width: 17.5rem;
    height: 3rem;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
  .total-text {
    position: absolute;
    top: 7rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffff;
  }
  .second-person {
    position: absolute;
    top: 8.5rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1.1rem;
    color: #7f9d9f;
  }
  .second-amount {
    position: absolute;
    top: 6.5rem;
    left: 14rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.9rem;
    color: #26c2ae;
  }
  .reset-button {
    position: absolute;
    width: 16.5rem;
    height: 3rem;
    top: 11rem;
    left: 2.5rem;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.8rem;
    border-radius: 0.3rem;
    border: none;
    /* background-color: #26c2ae; */
    color: #00474b;
  }
  .reset-button:hover {
    background-color: #26c2ae;
  }
}
